@page
@model OrganizadorTarefas.Pages.Validacaoo.IndexModel

@{
    ViewData["Title"] = "Validação";
}



<h1>
    <a asp-page="Create">Adicionar nova UFCD</a>
</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Validacao[0].codUfcd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validacao[0].entregaPra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validacao[0].validou)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Validacao) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codUfcd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.entregaPra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.validou)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
